@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

li {
  list-style-type: none;
  padding-top: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100vh;
}

header {
  padding: 20px 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252A;
}

header h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}

header ul {
  display: flex;
  gap: 1.5rem;
}

header ul li {
  list-style-type: none;
  font-size: 1.5rem;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
}

header ul li a:hover {
  opacity: .9;
}

header ul li .active {
  background-color: #018AA6;
}

.content {
  padding: 0px 7%;
}

.content h1 {
  padding-top: 20px;
}

.content .visi-container ul {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 50px;
}

.content .visi-container ul li {
  background-color: #24252A;
  padding-top: 13px;
  padding-left: 13px;
  padding-bottom: 30px;
  padding-right: 13px;
  list-style-type: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: overlay;
}

.content .visi-container ul li a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

.content .visi-container ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.content .visi-container ul li button {
  margin-top: 10px;
  background-color: #018AA6;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.content .visi-container ul li button:hover {
  opacity: .9;
}

.content .ieraksts-container {
  padding-top: 30px;
}

.content .ieraksts-container .ieraksts {
  background-color: #24252A;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: overlay;
}

.content .ieraksts-container .ieraksts a {
  color: #fff;
  text-decoration: none;
  float: right;
  background-color: #018AA6;
  padding: 7px;
  border-radius: 5px;
}

.content .ieraksts-container .ieraksts a:hover {
  opacity: .9;
}

.content .pievienot-container {
  display: flex;
  align-items: center;
  padding-top: 15px;
  justify-content: space-between;
}

.content .pievienot-container h1 {
  padding-top: 0 !important;
}

.content .pievienot-container a button {
  background-color: #018AA6;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .pievienot-container a button:hover {
  opacity: .9;
}

.content .komentari ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content .komentari ul li {
  list-style-type: none;
}

.content .komentari ul li .comment-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content .komentari ul li .comment-heading h1 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 0;
}

.content .komentari ul li .comment-heading span {
  font-size: 0.9rem;
}

.content .komentari ul li p {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.3rem;
}

.content .komentari ul li button {
  background-color: #018AA6;
  color: #fff;
  padding: 6px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: .8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .komentari ul li button:hover {
  opacity: .9;
}

.content .komentet {
  padding-top: 30px;
  padding-bottom: 50px;
}

.content .komentet form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content .komentet form label {
  display: flex;
  flex-direction: column;
}

.content .komentet form label input,
.content .komentet form label textarea {
  border: none;
}

.content .komentet form label input {
  margin-top: 10px;
  max-width: 400px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .komentet form label textarea {
  margin-top: 10px;
  max-width: 400px;
  padding: 10px;
  max-height: 200px;
  min-height: 100px;
  resize: vertical;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .komentet form button {
  background-color: #018AA6;
  color: #fff;
  padding: 6px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: .8rem;
  max-width: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .komentet form button:hover {
  opacity: .9;
}

.content .ieraksts {
  padding-top: 20px;
}

.content .ieraksts form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content .ieraksts form label {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.content .ieraksts form label input,
.content .ieraksts form label textarea {
  border: none;
}

.content .ieraksts form label input {
  margin-top: 10px;
  max-width: 400px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .ieraksts form label textarea {
  margin-top: 10px;
  max-width: 700px;
  padding: 10px;
  max-height: 400px;
  min-height: 200px;
  resize: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .ieraksts form button {
  background-color: #018AA6;
  color: #fff;
  padding: 6px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: .8rem;
  max-width: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .ieraksts form button:hover {
  opacity: .9;
}

.content .error {
  width: 350px;
}

.content .error p {
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .success {
  width: 350px;
  padding-top: 20px;
}

.content .success p {
  padding: 10px;
  background-color: #40ff00;
  color: black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .welcome {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  gap: 20px;
}

.content .welcome h1 a {
  padding: 10px;
  background-color: #018AA6;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  color: #fff;
}

.content .welcome h1 a:hover {
  opacity: .9;
}

.content .statistika-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.content .statistika-container .box {
  background-color: #24252A;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 30px;
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.content .statistika-container .box p {
  font-size: 25px;
  color: #fff;
}

.content .statistika-container .box .circle {
  width: 100px;
  height: 100px;
  background-color: #018AA6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.content .statistika-container .box .circle span {
  font-size: 50px;
  color: #fff;
}

.content .activity-container {
  margin-top: 40px;
  background-color: #24252A;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .activity-container .heading {
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.content .activity-container .ieraksti table {
  padding-top: 15px;
  width: 100%;
  color: #fff;
}

.content .activity-container .ieraksti table th {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.content .activity-container .ieraksti table td {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}

.content .activity-container .ieraksti table .tr-link {
  cursor: pointer;
}

.content .activity-container .ieraksti table .tr-link:hover {
  background-color: #2b2c2f;
}

.content .stats {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 700px;
  background-color: #24252A;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .stats .heading {
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.content .stats ul {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content .stats ul li {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .stats ul li button {
  background-color: transparent;
  border: none;
}

.content .stats ul li span {
  padding-right: 20px;
  font-size: 30px;
  color: red;
  cursor: pointer;
}

.content .stats ul li span:hover {
  opacity: .9;
}

.content .stats .comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content .stats .comments li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding-right: 20px;
  position: relative;
}

.content .stats .comments li a {
  text-decoration: none;
  color: #fff;
}

.content .stats .comments li a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.content .stats .comments li .ban {
  position: absolute;
  right: 20px;
  top: 30px;
}

.content .stats .comments li .ban i {
  font-size: 30px;
  color: red;
}

.content .stats .comments li .ban i:hover {
  opacity: .9;
  cursor: pointer;
}

.content .edit .modal {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.content .edit .modal .form-container {
  background-color: #24252A;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  min-height: 450px;
  max-height: 600px;
  height: auto;
  position: relative;
  border-radius: 5px;
}

.content .edit .modal .form-container .errors {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content .edit .modal .form-container .errors .error {
  color: red;
  font-size: 1.5rem;
}

.content .edit .modal .form-container .response {
  color: greenyellow;
  font-size: 1.5rem;
}

.content .edit .labot {
  color: #fff;
  text-decoration: none;
  float: right;
  background-color: #018AA6;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.content .edit .labot:hover {
  opacity: .9;
}

.content .edit .close {
  position: absolute;
  right: 30px;
  top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.content .edit .close:hover {
  opacity: .9;
}

.content .edit .close i {
  font-size: 40px;
  color: #fff;
}

.content .error-page p {
  padding-top: 40px;
  font-size: 30px;
}

.content .search-container {
  padding-top: 20px;
}

.content .search-container .search input {
  width: 250px;
  padding: 10px;
}

.content .search-container .search button {
  padding: 10px;
  background-color: #018AA6;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.content .search-container .search button:hover {
  opacity: .9;
}

